.membership{
    width: 970px;
    display: grid;
    grid-template-columns: 286px 350px 286px;
    row-gap: 64px;
    column-gap: 24px;
    margin: 0px auto 120px auto;
}

.membership_title{
    color: var(--colors-neutral-900, #062630);
    font-family: "martian mono";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 26.4px */
    letter-spacing: -1px;
    margin: 0px;
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
}

.membership_option{
    width: 100%;
    height: 358px;
    padding: 24px;
    border-radius: var(--border-radius-8, 8px);
    border: 1px solid var(--colors-neutral-200, #E6E1DF);
    align-self: center;
}

.membership_option:nth-of-type(2){
    height: 390px;
    border-radius: var(--border-radius-8, 8px);
    background-color: var(--colors-neutral-50, #FAF5F3);
    position: relative;
    overflow: hidden;
}

.membership_option_line{
    border: 0px;
    margin: 0px 0px 24px 0px;
    width: 100%;
    height: 1px;
    background-color: var(--colors-neutral-200, #E6E1DF);
    position: relative;
    z-index: var(--closer);
}

.membership_option_title{
    color: var(--colors-neutral-900, #062630);
    font-family: "martian mono";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 26.4px */
    letter-spacing: -1px;
    margin: 0px 0px 24px 0px;
}

.membership_option_price{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--colors-neutral-700, #385159);
    font-family: 'inter';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.5px;
    margin-bottom: 24px;
}

.membership_option_price > span{
    font-family: 'martian mono';
    color: #062630;
    font-size: 2.125rem;
    font-weight: 600;
}

.membership_option_detail{
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--colors-neutral-700, #385159);
    font-family: 'inter';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.5px;
    position: relative;
    z-index: var(--closer);
}

.membership_option_detail:nth-of-type(1){
    margin-bottom: 16px;
}

.membership_option_detail:nth-of-type(2){
    margin-bottom: 32px;
}

.membership_option_detail > img{
    width: 24px;
    height: 24px;
}

.membership_option_button{
    width: 100%;
    height: 63px;
    color: var(--colors-neutral-900, #062630);
    font-family: "martian mono";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 23.4px */
    letter-spacing: -1px;
    border-radius: 8px;
    border: 2px solid var(--colors-neutral-900, #062630);
    background-color: var(--colors-light-salmon-50, #FFF5EF);
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: var(--closer);
}

.membership_option_button:hover{
    background: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

.membership_option_button:active{
    background: linear-gradient(90deg, #ffc29e 0%, #FFF5EF 100%);
}

.membership_option_glow{
    position: absolute;
    bottom: -642px;
    right: -642px;

}